{% extends "base_detail.html" %}
{% block content %}
{% load static %}
{% load humanize %}
    <div class="container">
      <div class="row">
        <!-- Post Detail -->
        <main class="post blog-post col-lg-8"> 
          <div class="container">
            <div class="post-single">
              <div class="post-thumbnail"><img src="{{post.photo.url}}" alt="..." class="img-fluid"></div>
              <div class="post-details">
                <div class="post-meta d-flex justify-content-between">
                </div>
                <h1>{{post.title}}<a href="#"><i class="fa fa-bookmark-o"></i></a></h1>
                <div class="post-footer d-flex align-items-center flex-column flex-sm-row"><a href="#" class="author d-flex align-items-center flex-wrap">
                    <div class="title"><span>{{post.author}}</span></div></a>
                  <div class="d-flex align-items-center flex-wrap">       
                    <div class="date"><i class="icon-clock"></i>{{post.created_on|naturaltime}}</div>
                    <div class="comments meta-last"><i class="icon-comment"></i>{{post.comments.all.count}}</div>
                  </div>
                </div>
                <div class="post-body">
                  <p class="lead">{{post.content}}</p>
                </div>





                <div class="post-comments">
                  <header>
                    <h3 class="h6">Post Comments<span class="no-of-comments">({{comments.count}})</span></h3>
                  </header>

                  {% for comment in comments %}
                  <div class="comment">
                    <div class="comment-header d-flex justify-content-between">
                      <div class="user d-flex align-items-center">
                        <div class="title"><strong>{{comment.name}}</strong><span class="date">{{comment.created_on|date:'M Y'}}</span></div>
                      </div>
                    </div>
                    <div class="comment-body">
                      <p>{{comment.body}}</p>
                    </div>
                  </div>
                  {% endfor %}
                </div>

                <div class="card-body">
                {% if new_comment %}
                  <div class="alert alert-success" role="alert">
                    Your comment is awaiting moderation
                  </div>
                {% else %}
                  <header>
                  <h3 class="h6">Leave a comment</h3>
                  </header>
                  {% load crispy_forms_tags %}        
                  <form method="post" style="margin-top: 1.3em;">
                  {{ comment_form | crispy }}
                  {% csrf_token %}
                    <div class="form-group col-md-12">
                      <button type="submit" class="btn btn-secondary btn-lg">Submit Comment</button>
                    </div>
                  </form>
                {% endif %}
               </div>


              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
    
{%endblock%}